<h1>New Article</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnpBZsn8E7Xu2VvmjzwC5uUHIjLZKjwjrERLmvW5WFGU864JZ6"/>
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit 'Save Article', id: "save-button" %>
  </p>
  <%= form_for :article, url: articles_path do |f| %>

<% end %>
<h2>Edit Post</h2>

<%= render "articles/form" %>
<%=  link_to 'Back', articles_path, class: "big button" %>
<% end %>
